#title {
	text-align: center;
}

.container {
	background-color: #daeaa0;
	text-align: center;
	margin: auto;
	width: 50%;
	border: 3px solid blanchedalmond;
	padding: 10px;
}

.inputFields {
	width: 100%;
	border-radius: 32px;
	height: 25px;
}

label {
	display: flex;
}

.displayFlex {
	display: flex;
}

#textArea {
	display: flex;
	width: 100%;
	height: 70px;
}

#buttonStyle {
	width: 100%;
	border-radius: 25px;
	height: 36px;
	margin-bottom: 35px;
}

#body {
	background-image: url("blurImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}